/*
 * BASE
 */
* {
	margin: 0;
	padding: 0;
}
html, body{
	border: 0;
	height: 100%;
}
body {
	font-family: Meiryo, "Hiragino Kaku Gothic Pro", "Lucida Grande", Verdana, Arial, Meiryo, Sans-Serif;
	font-size: 10px;
	background: #000;
	color: #666;
	margin: 0;
	padding: 0;
	height: 100%;
}
h1, h2, h3, h4 {
	font-weight: bold;
	font-size: 1.2em;
}
a img {
	border: 0;
	vertical-align: text-bottom;
}
a, a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #666;
	background: #eee;
	text-decoration: none;
}
iframe {
	border: none;
}
v\\:* {
	behavior: url(#default#VML);
}
form {
	display: inline;
}
img {
	border: 0px;
	vertical-align: middle;
	background: transparent;
}
ul, ol {
	margin-left: 2.0em;
}


/*
 * LAYOUT
 */
#wrapper {
	width: 100%;
	background: #e5e5e5
}
#header {
	background: #fff;
	padding: 0 30px;
	colod: #333;
	border-top: 6px solid #000;
}
#header h1 {
	font-size: 2em;
	padding: 10px 0;
}
#header .subtitle {
	color: #666;
	font-size: 60%;
	margin: 0 20px;
	padding: 0 10px;
	border-left: 1px solid #333;
}
#login_bar {
	float: right;
	padding: 5px 0;
	width: 20%;
}
#login_bar ul {
	list-style: none;
	margin: 0;
}
#login_bar ul li {
	display: inline;
	padding: 0 10px;
	border-left: 1px solid #333;
}
#login_bar img {
	vertical-align: middle;
	margin-right: 4px;
	_margin-right: 0;
}
#title_bar {
	clear: both;
	background: #000 url(images/right-bg.gif) repeat-y scroll right center;
	margin: 0 10px;
	_margin: 0 5px;
	padding: 10px 18px 10px 10px;
	min-width: 100px;
	float: left;
}
#title_bar h1 {
	font-size: 1.8em;
	color: #fff;
}
#menu_bar {
	margin-top: 20px;
}
#menu_bar ul {
	list-style: none;
	margin: 0;
}
#menu_bar ul li {
	float: left;
	margin-right: 4px;
}
#menu_bar ul li div a img {
	margin-right: 4px;
	_margin-right: 0;
}
#menu_bar ul li div a {
	padding: 5px 10px;
	text-decoration: none;
}
#menu_bar ul li div a:hover,
#menu_bar ul li.hover div a {
	background: #000;
	color: #ddd;
}
#menu_bar dl {
	display: none;
}
#menu_bar ul li.hover dl {
	width: 140px;
	margin: 0;
	background: #000;
	padding: 4px;
	display: block;
	position: absolute;
	color: #ddd;
}
#menu_bar dl dd {
}
#menu_bar dl dt {
	margin: 4px;
	font-weight: bold;
}
#menu_bar dl a {
	display: block;
	padding: 2px 4px;
	color: #666;
}
#breadcrumb {
	background: #eee;
	clear: both;
	padding: 4px 15px;
}
#breadcrumb ul {
	list-style: none;
	margin: 0;
}
#breadcrumb ul li {
	display: inline;
	padding: 0 20px 0 0;
	background: url(images/icons/bullet_go.png) center right no-repeat;
}
#breadcrumb ul li.right {
	display: inline;
	padding: 0;
	background: none;
}
#status {
	clear: both;
	margin: 10px;
}
#status ul {
	list-style: none;
	margin: 0;
}
#status ul li {
	clear: both;
	padding: 5px;
	margin: 1px 0;
	border: 1px solid #ddd;
	background: #fff;
}
#content {
	clear: both;
}
#content h2 {
	padding: 4px;
	margin: 5px 0;
	border-bottom: 2px solid #ccc;
	font-size: 1.6em;
	clear: both;
}
table.layout {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
table.layout td.left {
	width: 80%;
	padding: 0 5px 0 10px;
	vertical-align: top;
}
table.layout td.right {
	width: 20%;
	padding: 0 10px 0 5px;
	vertical-align: top;
}
table.layout div.col {
	min-width: 500px;
	background: #fff url(images/right-bg.gif) repeat-y scroll right center;
	padding: 10px 20px 10px 10px;
}
table.layout div.bottom {
	background: transparent url(images/bottom-bg.gif) no-repeat scroll right top;
	font-size: 8px;
}
table.layout div.side {
	min-width: 200px;
}
table.layout div.side h2 {
	font-size: 1.2em !important;
}
ul.command {
	clear: both;
	margin: 0 0 20px 0;
	list-style: none;
}
ul.command li {
	margin: 4px 0;
}
ul.command li a {
	padding: 4px;
	display: block;
	text-decoration: none;
}
ul.command li a:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
ul.command li a img {
	margin: 0 4px 0 0;
	vertical-align: middle;
}

#footer {
	clear: both;
	padding: 5px 0;
	margin-top: 20px;
	text-align: center;
	color: #666;
	border-top: 10px solid #ccc;
	background: #222;
}


/*
 * COMMONS
 */

table.list {
	width: 100%;
	border-collapse: collapse;
	margin: 5px 0;
}
table.list th {
	padding: 4px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	white-space: nowrap;
	float: clear;
}
table.list td {
	padding: 4px;
	border-bottom: 1px dotted #ddd;
}
table.list tr.odd {
	background: #eee;
}

table.detail {
	width: 100%;
	border-collapse: collapse;
	margin: 5px 0;
}
table.detail tr {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
table.detail th {
	width: 200px;
	padding: 4px;
	text-align: left;
	white-space: nowrap;
	float: clear;
	border-right: 1px dotted #ddd;
}
table.detail td {
	padding: 4px;
}
table.detail tr.odd {
	background: #eee;
}


.block {
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	clear: both;
}

form .action {
	text-align: right;
	border-top: 1px solid #ddd;
	padding: 10px 0;
	clear: both;
}

.pager {
	text-align: right;
	margin: 5px 0;
}
.pager ul {
	list-style: none;
}
.pager ul li {
	display: inline;
	margin: 0 0 0 5px;
}

.message {
	margin: 1.0em 0;
	border: 2px solid #ddd;
	background: #fff;
	padding: 5px;
}
.notice {
	color: #090;
}
.error {
	color: #c00;
	border: 2px solid #c00;
}

dl.form {
	clear: both;
}
dl.form dt {
	float: left;
	padding: 2px 0;
}
dl.form dd {
	padding: 2px 0 2px 120px;
	margin: 2px;
}

div.sub {
	padding: 10px;
	background: #efefef;
	border: 1px solid #ddd;
}


/*
 * login form
 */
#login_form {
  width: 400px;
  border: 5px solid;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px -220px;
  font-size: 1.2em;
  background: #fff;
}
#login_form h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
}
#login_form p {
  margin: 0.5em 0;
}
#login_form input {
  font-size: 1.2em;
}
#login_form .small {
  font-size: 0.8em;
}
#login_form ul {
	margin: 0 0 20px 0;
	list-style: none;
}

/*
 * required fields
 */
#required {
	border: thin double #ff0000;
	background-color: pink;
}